@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.row {
  margin: 1rem 10px;
}

.row .row__title {
  font-size: 1.5rem;
  margin: 10px 0;
  font-weight: 900;
}

.banner {
  padding: 1rem 2rem;
  min-height: 40vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: top;
  position: relative;
  color: #fff;
}

/* overlay */
.banner .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(57, 57, 66, 0.473);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.banner .content {
  z-index: 3;
}

.banner .banner__title {
  margin: 10px 0;
  font-size: 3rem;
  font-weight: bold;
}

.banner .banner__desc {
  max-width: 70%;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 1.4rem;
  color: #fff;
}

.banner .banner__buttons {
  margin-top: 20px;
}

.banner .banner__buttons button {
  padding: 8px 10px;
  margin-right: 10px;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: rgba(48, 48, 48, 0.678);
  transition: background-color 0.2s ease-in;
  color: #fff;
  /* border: 1px solid #969696; */
}

.banner .banner__buttons button:hover {
  background-color: rgb(26, 26, 26);
}

/* yt */
#close-btn {
  font-size: 3rem;
  background: transparent;
  outline: 0;
  color: #fff;
  border: 0;
  cursor: pointer;
}
